body {
    background-image: url("../images/cooking\ tools.jpg");
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.directions-box, .container2 {
    /* font-size: 24px; */
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: rgb(1, 1, 1,.2);
}

#display{
    font-size: 64px;
    color: orange;
    margin-left: 35%;
    margin-top: 15%;
}

header {
    color: white;
    background: rgb(1, 1, 1,.46);
    font-size: 18px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 4px dashed orange;
    margin: 2% 20% 2% 30%;
}

.questions-box {
    /* background: lightgoldenrodyellow; */
    /* background-image: url("../images/Nelson-Woodshop-Pac-Man-Board.jpg"); */
    padding: 2%;
    color: white;
    background: rgb(1, 1, 1,.2);
}

button {
    background: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-left: 15%; */
}

#true {
    color: orange;
    margin-left: 48%;
}

#false {
    color: red;
}

#scoreboard{
    color: white;
    background: rgb(1, 1, 1,.4);
    /* opacity: .6; */
    text-align: center;
}